@import url('https://fonts.googleapis.com/css2?family=Shippori+Antique+B1&family=Zen+Kaku+Gothic+New&display=swap');

body {
  --max-width: 370px;
  --border-radius: 10px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace, sans-selif;

  font-family: 'JetBrains Mono', 'Zen Kaku Gothic New', 'Shippori Antique B1' var(--font-mono);
  background-color: #0f0f0f;
  color: #fff;
  max-width: var(--max-width);
  margin: auto;
  border-radius: var(--border-radius);
}

@media screen and (min-width: 768px) {
  body {
    --max-width: 768px;
  }
}

@media screen and (min-width: 1440px) {
  body {
    --max-width: 1440px;
  }
}
