@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

.title {
  text-align: center;
  padding-top: 10rem;
}

.typograph {
  color: rgb(197, 0, 197);
  font-size: 2rem;
  padding: 0 0.5rem;
}

.description {
  font-family: 'JetBrains Mono', monospace;
  text-align: center;
  padding: 1rem;
  color: rgb(255, 255, 255, 0.8);
  font-size: 1rem;
}

.sectionTitle {
  font-family: 'JetBrains Mono', monospace;

}

.section {
  padding: 1.5rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  padding: 1rem;
}

.card {
  background-color: rgb(255, 255, 255, 0.1);
  border-radius: 0.5rem;
  padding: 1rem;
  color: rgb(255, 255, 255, 0.8);
  font-family: 'JetBrains Mono', monospace;
  font-size: 1rem;
}
