@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

.title {
  text-align: center;
  padding-top: 10rem;
  font-size: 100px;
  margin: 0;
}

.title span {
  color: #4e4886;
  padding: 0 1rem;
}

.description {
  font-family: 'JetBrains Mono', monospace;
  text-align: center;
  color: rgb(255, 255, 255, 0.8);
  font-size: 30px;
  font-weight: 400;
}

.sectionTitle {
  font-family: 'JetBrains Mono', monospace;
}

.section {
  padding: 1.5rem;
}
