.title {
  text-align: center;
  padding-top: 10rem;
}

.typograph {
  color: rgb(197, 0, 197);
  font-size: 2rem;
  padding: 0 0.5rem;
}

.description {
  text-align: center;
  padding: 1rem;
  font-size: small;
  color: rgb(255, 255, 255, 0.8);
}
